<launch>
    <param name="gimbal_px" value="0" type="double"/>
    <param name="gimbal_ix" value="0" type="double"/>
    <param name="gimbal_dx" value="0" type="double"/>

    <param name="gimbal_py" value="0" type="double"/>
    <param name="gimbal_iy" value="0" type="double"/>
    <param name="gimbal_dy" value="0" type="double"/>

    <param name="gimbal_pz" value="0" type="double"/>
    <param name="gimbal_iz" value="0" type="double"/>
    <param name="gimbal_dz" value="0" type="double"/>

    <node name="dynamicServer" pkg="robotparams" type="dynamicServer.py" output="screen"/>
</launch>